@charset "UTF-8";

body {
    background-color: rgb(236, 236, 236);
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    text-align: justify;
}

.header {
    background-color: #4C6EF5;
    color: white;
    padding: 15px 50px;

    position: relative;
}

.header h1 {
    font-size: 50px;
    margin-bottom: 15px;
    font-weight: 600;
    font-weight: bold;

    width: 790px;
}

.header h2 {
    color: #FFD43B; 
    font-size: 25px;
    margin-bottom: 15px;

    width: 550px;
}

.header p {
    color: white;
    font-size: 22px;
    line-height: 1.5;

    width: 550px;
    margin-left: 50px;
}

.header img {
    width: 332px;
    right: 0;
    top : 0;
    padding-bottom: 200px;
    position: absolute;
}

.content {
    margin-left: 75px;
    margin-top: 50px;
    margin-bottom: 100px;
    max-width: 680px;
}

.content h2 {
    width: px;
    font-size: 30px;
    margin-bottom: 15px;    
    font-weight: bold;
}

.content h3 {
    font-size: 20px;
    margin-bottom: 15px; 
    margin-left: 10px;  
}

.content p {
    font-size: 18px;
    line-height: 1.6;

    margin-bottom: 20px;
    margin-left: 45px;  
}

.highlight{
    color: #4C6EF5;
}

.endline {
    background-color:#4C6EF5;
    height: 50px;
    width: 100%;
}
    

