@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.ws1{
     background-color: white;
    width: 100%;
    height: 70px;
}

.ws1 p{
    font-size: 60px;

    font-weight: bold;
    text-transform: uppercase;
    padding-left: 10px;
    text-align: left;
}

.bs1{
    background-color: rgb(45, 45, 223);
    width: 100%;
    height: 20px;
}

.ws2{
     background-color: white;
    width: 100%;
    height: 10px;
}

.box{
    background-color: rgb(45, 45, 223);
    width: 100%;
    height: 100%;
    min-height: 275px;
    padding-bottom: 9vw;

    position: relative;
}

.box h1{
    color: white;
    text-transform: uppercase;
    font-size: 55px;

    padding-top: 30px;
    text-align: center;
}

.box h2{
    color: white;
    font-size: 35px;

    text-align: center;
}

.box a{
background-color:  rgb(255, 213, 0);
color: black;
text-decoration: none;
font-weight: bold;
font-size: 45px;
padding: 20px 0;
border-radius: 20px;
text-align: center;

display: block;
width: 35%;
margin: 40px auto 0 auto;

z-index: 1;
}

.box a:hover{
    background-color: rgb(240, 200, 0);
    transform: scale(1.03);
    transition: 0.2s;
}

.box img{
    position: absolute;

    right: 0px;  
    bottom: -90px;    
    height: 320px; 
    object-fit: contain;
    pointer-events: none;

    z-index: 0;
}

.cs1{
    background-color: rgb(71, 98, 196);
    width: 100%;
    height: 15px;
}

.bs2{
     background-color: rgb(45, 45, 223);
    width: 100%;
    height: 10px;
}

.cs2{
     background-color: rgb(71, 98, 196);
    width: 100%;
    height: 35px;
}

.ys1{
     background-color: rgb(255, 213, 0);
    width: 100%;
    height: 15px;
}

.cs3{
     background-color: rgb(71, 98, 196);
    width: 100%;
    height: 10px;
}

.ys2{
     background-color: rgb(255, 213, 0);
    width: 100%;
    height: 45px;
}

.cs4{
     background-color: rgb(71, 98, 196);
    width: 100%;
    height: 30px;
}